.stAppHeader {
    height: 0;
} 

div[data-testid="stDecoration"] {
    visibility: hidden;
}

.stAppDeployButton {
    visibility: hidden;
}

.stMainBlockContainer {
    padding: 0rem 3rem 0rem 3rem;
}

.stHeading h1 {
    padding-top: 0;
    padding-bottom: 1rem;
    text-align: center;
    font-weight:bold;
}

iframe {
    border-radius: 10px;
}

.stSidebar {
    width: 35rem !important;
}

div[data-testid="stSidebarHeader"] {
    padding: 0.5rem 0.5rem 0 0.5rem;
}

div[data-testid="stSidebarUserContent"] {
    padding-bottom: 0;
}

input[data-testid="stNumberInputField"] {
    text-align:center;
    font-weight:bold;
    font-size: 1.2rem;
    color: #ff4b4b;
}

div[data-testid="stMarkdownContainer"] hr {
    margin: 0;
}

.highlight {
    color:red;
    background-color:#FFFF44;
    font-weight:bold;
    line-height:1.3rem;
    padding: 0.2rem;
    text-align: center;
    border-radius: 5px;
}

.doc-number {
    padding-top:0.4rem;
    font-weight:bold;
}