/*-- scss:defaults --*/

$primary: #0099EE !default;
$secondary: #CC0C00 !default;
$neutral: #5E5E5E !default;
$neutral-light: #999 !default;
$line-color: #DEE2E6 !default;
$background-color: #f8f9fa !default;
$callout-note-color: #0099EE !default;
$callout-tip-color: #3fb618 !default;
$callout-caution-color: #f0ad4e !default;
$callout-warning-color: #ff7518 !default;
$callout-important-color: #CC0C00 !default;
$font-size-root: 15px !default;
$toc-font-size: 13px !default;

/*-- scss:rules --*/

@font-face {
  font-family: 'Luciole';
  font-style: normal;
  font-weight: normal;
  src: url('resources/fonts/Luciole-Regular/Luciole-Regular.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Luciole';
  font-style: bold;
  font-weight: bold;
  src: url('resources/fonts/Luciole-Bold/Luciole-Bold.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}

body {
  text-align: justify !important;
  font-family: Luciole;
}

.concept-color {
  font-weight: bold;
  color: #0099EE;
}

.extract-color {
  font-weight: bold;
  color: red;
}

.cb1 {
  font-weight: bold;
  color: $primary;
}

.cb2 {
  font-weight: bold;
  color: $secondary;
}

.nb {
  font-weight: bold;
  color: $neutral-light;
}

.nc {
  background-color: $background-color;
  color: $neutral;
}

.str {
  background-color: $background-color;
  color: #20794D;
}

.aa-Autocomplete .aa-Form {
  border-color: lighten($primary, 45%);
}

.MJX-TEX {
  margin: 1rem;
}

div.callout.callout {
  border-top-color: #F0F0F0;
  border-right-color: #F0F0F0;
  border-bottom-color: #F0F0F0;
}

div.callout-title-container {
  font-size: $font-size-root;
  margin-top: 0.4rem;
  margin-bottom: 0.8rem;
  padding-right: 1.3rem;
}

div.callout-body {
  padding-right: 1.3rem;
}

.callout:not(.no-icon).callout-titled.callout-style-simple .callout-body {
  padding-left: 1.75rem;
}

div.callout-note.callout {
  border-left-color: $callout-note-color;
  background-color: lighten($callout-note-color, 51%);
}

div.callout-note.callout-titled .callout-header {
  color: darken($callout-note-color, 10%);
}

div.callout-tip.callout {
  background-color: lighten($callout-tip-color, 57%);
}

div.callout-tip.callout-titled .callout-header {
  color: darken($callout-tip-color, 5%);
}

div.callout-caution.callout {
  background-color: lighten($callout-caution-color, 33%);
}

div.callout-caution.callout-titled .callout-header {
  color: darken($callout-caution-color, 20%);
}

div.callout-warning.callout {
  background-color: lighten($callout-warning-color, 41%);
}

div.callout-warning.callout-titled .callout-header {
  color: darken($callout-warning-color, 10%);
}

div.callout-important.callout {
  border-left-color: $callout-important-color;
  background-color: lighten($callout-important-color, 57%);
}

div.callout-important.callout-titled .callout-header {
  color: darken($callout-important-color, 5%);
}

.callout.callout-style-simple .callout-icon::before,
.callout.callout-style-simple .callout-toggle::before {
  height: 1.2rem;
  width: 1.2rem;
  background-size: 1.2rem;
  margin-top: 0.3rem;
}

h2#toc-title {
  font-size: $font-size-root;
  font-weight: bold;
  padding-bottom: 0.3rem;
}

#title-block-header {
  font-size: 1.2rem;
}

.quarto-title {
  margin-bottom: 1rem;
}

div#quarto-margin-sidebar {
  text-align: left;
  padding-left: 1rem;
  border-left: 1px solid $line-color;
  background-color: lighten($primary, 51%);
}

.sidebar-title {
  color: $primary;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 2rem;
  text-align: "left";
}

#quarto-sidebar .sidebar-item-section > .sidebar-item-container:first-child a {
  font-weight: bold;
  color: $primary;
}

div.sidebar-item-container {
  padding: 0.2rem;
}

div.sidebar-item-container .active {
  color: $primary;
}

.sidebar nav[role=doc-toc] > ul {
  margin-bottom: 2rem;
}

.sidebar nav[role=doc-toc] > ul a {
  border-left: 1px solid lighten($primary, 45%);
}

.sidebar nav[role=doc-toc] > ul li a {
  padding-top: 0.6rem;
}

.sidebar nav[role=doc-toc] ul > li > a.active,
.sidebar nav[role=doc-toc] ul > li > ul > li > a.active {
  font-weight: bold;
  border-left-width: 3px;
}

.blockquote {
  color: $neutral;
}

h1, h2, h3 {
  color: $primary;
}

h2, h3, h4, h5 {
  margin-top: 1.5em;
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
  border-bottom: 1px solid $line-color;
  padding-bottom: 0.3rem;
}

h1 {
  font-size: 1.8rem;
  padding-top: 1rem;
}

h2 {
  padding-top: 1rem;
  margin-left: 0.5rem;
  font-size: 1.4rem;
  font-weight: bold;
}

h3 {
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: normal;
}

h4 {
  margin-left: 2rem;
  font-size: 1.1rem;
}

h5 {
  margin-top: 1.5em;
  margin-left: 2.5rem;
  font-size: 1rem;
}

.quarto-section-identifier {
  font-weight: normal;
  color: $neutral;
}

div.sourceCode {
  background-color: $background-color;
}

code.sourceCode, pre code {
  font-size: $font-size-root - 2;
}

pre code {
  color: $neutral;
}

code {
  color: $primary;
}

code span.do {
  font-style: inherit;
}

code span.op {
  color: $neutral;
}

code a:any-link {
  text-decoration: underline;
  text-decoration-color: $line-color;
}

div.gslide-description .gslide-desc {
  font-size: 1rem;
}

.quarto-float-caption {
  font-size: 0.95rem;
  font-weight: bold;
  line-height: 1.5;
  color: #111;
}

.quarto-float-subcaption {
  font-weight: normal;
  font-size: .85rem;
  color: $neutral;
}

figure.quarto-float-fig {
  padding-bottom: 1em;
}

figure.quarto-float-tbl figcaption.quarto-float-caption-top {
  margin-top: 2em;
  margin-bottom: 0.15rem;
  text-align: left;
}

.gslide-desc {
  font-weight: bold;
}

figure .quarto-layout-row figure figcaption {
  font-style: normal;
}

div.csl-right-inline {
  padding-left: 0;
  padding-bottom: 0.5em;
}
